<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248089384291-takiagovp05vsu7k97um19a8hq3gmo9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248089384291-takiagovp05vsu7k97um19a8hq3gmo9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248089384291-ob71k6q48fadkhe5frluq5cfued72a7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmkpNRCof6I6HHv7HLn1Vwc_BzRFnSdWw</string>
	<key>GCM_SENDER_ID</key>
	<string>248089384291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdelataillade.tempoDingo</string>
	<key>PROJECT_ID</key>
	<string>tempo-dingo-db</string>
	<key>STORAGE_BUCKET</key>
	<string>tempo-dingo-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248089384291:ios:142677496e3ddce337af56</string>
	<key>DATABASE_URL</key>
	<string>https://tempo-dingo-db.firebaseio.com</string>
</dict>
</plist>